<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 定义一个输出到控制台的 Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 定义日志输出格式 -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 设置根日志级别，并引用上面定义的 Appender -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>